.booking {
  background-color: var(--main-color);
  padding: 80px 0;
}

.booking__main-subtitle {
  display: flex;
  justify-content: space-between;
  max-width: 980px;
  margin: auto;
  margin-bottom: 67px;
}

.booking__widget {
  margin-bottom: 40px;
}

fieldset {
  border: none;
  padding: 0;
}

.booking__subtitle {
  color: var(--main-text-color);
  text-align: center;
  font-family: Arial;
  font-size: 24px;
  font-weight: 700;
  line-height: 28px;
  margin-bottom: 40px;
  }

.booking__hall-button {
  font-size: 30px;
  font-weight: 700;
  line-height: 40px;
  text-align: center;
  cursor: pointer;
  text-transform: uppercase;
  width: 250px;
  height: 55px;
  color: var(--booking-last-color);
  border-radius: 8px;
  background: var(--main-text-color);
  padding-top: 7px;
}

.booking__hall-button:hover {
  border: 3px solid var(--border-color);
  background: var(--booking-bcgr-white-color);
  transition: 0.3s;
}

.booking__hall-button:focus {
  border: 3px solid var(--border-color);
  background: var(--main-text-color);
  color:var(--booking-last-color);
  transition-duration: 0.7s;
}

.booking__hall-button:active {
  border: 3px solid var(--main-text-color);
  background: var(--booking-bord-col-backg);
  color: var(--booking-backgr-color);
  transition-duration: 0.7s;
}

.booking__check {
  display: none;
}

.booking__hall-selection {
  display: flex;
  justify-content:center;
  gap: 59px;
  margin-bottom: 68px;
}

.booking__console {
  display: flex;
  flex-direction: column;
  gap: 22px;
  
}

.booking__checkbox {
  width: 25px;
  height: 27px;
  margin-right: 12px;
}

.booking__label-item {
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.booking__description {
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 28px;
  margin-bottom: 24px;
  transform: translateX(-27%);
}

.booking__data {
  width: 134px;
  height: 52px;
  flex-shrink: 0;
}

.booking__select-position {
  display: flex;
  justify-content: center;
  gap: 50px;
}

.booking__collon {
  display: flex;
  flex-direction: column;
  max-width: 300px;
  gap: 22px;
  padding: 0;
}

.booking__collon1 {
  display: flex;
  flex-direction: column;
  max-width: 300px;
  gap: 45px;
  padding-top: 22px;
}

.booking__button-book {
  display: flex;
  justify-content: flex-end;
  width: 1089px;
}

.booking__button {
  border-radius: 10px;
  background: var(--booking-backgr-color);
  width: 250px;
  height: 55px;
  color: var(--booking-bord-col-backg);
  font-size: 22px;
  font-style: normal;
  font-weight: 700;
  line-height: 28px;
  text-transform: uppercase;
}

.booking__button:hover {
  border: 3px solid var(--booking-bord-col-backg);
  color:var(--booking-bord-col-backg);
  background: var(--booking-bcgr-white-color);
  transition-duration: 0.2s;
}

.booking__button:active {
  background: var(--booking-bcgr-white-color);
  color: var(--booking-bord-col-backg);
  border: none;
  transition-duration: 0.7s;
}

.booking__button:focus {
  border: 3px solid var(--booking-bord-col-backg);
  background: var(--main-text-color);
  color: var(--booking-bord-col-backg);
  transition-duration: 0.7s;
}

.booking__set {
  display: flex;
  padding: 0;
  gap: 30px;
}

.booking__people {
  width: 100%;
  width: 300px;
  height: 52px;
  padding-left: 20px;
  color: var(--booking-last-color);
  font-family: Arial;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px;
}

.booking__people:focus {
  border: 2px solid var(--order-frame-color);
  background: var(--main-text-color);
}

.booking__people-number {
  color: var(--booking-last-color);
  font-family: Arial;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px;
}

.booking__date-time {
  width: 134px;
  height: 52px;
  padding-left: 10px;
}
.booking__date-time:focus {
  border: 2px solid var(--order-frame-color);
  background: var(--main-text-color);
}

/* =================================== */

.booking__checkbox {
  position: absolute;
  width: 1px;
  height: 1px;
  oVerflow: hidden;
  clip: rect(0 0 0 0);
  padding-left: 20px;
}

.booking__check-style {
  position: absolute;
  width: 33px;
  height: 33px;
  border: 1px solid var(--border-color2);
  margin-left: -50px;
  border-radius: 50%;
}

.booking__checkbox:checked +.booking__check-style::before {
  content: "";
  width: 27px;
  height: 27px;
  background-color: var(--main-text-color);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 50%;
}
/* =================================== */

.booking__game-style {
  position: absolute;
  width: 33px;
  height: 33px;
  border: 1px solid var(--border-color2);
  margin-left: -50px;
}

.booking__checkbox:checked +.booking__game-style::before {
  content: "";
  width: 27px;
  height: 27px;
  background-color: var(--main-text-color);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
/* =================================== */

.booling__addition {
  position: absolute;
  width: 33px;
  height: 33px;
  border: 1px solid var(--border-color2);
  margin-left: -50px;
}

.booking__checkbox:checked +.booling__addition::before {
  content: "";
  width: 27px;
  height: 27px;
  background-color: var(--main-text-color);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}