.menu__container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.menu {
  padding-top: 30px;
}

.menu__list {
  display: flex;
  gap: 40px;
  justify-content: space-between;
}

.menu__text {
  color: var(--menu-text-color);
  font-family: Arial;
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  line-height: 50px;
  text-transform: uppercase;
  margin: 0;
}

.menu__text:hover {
  font-size: 22px;
  color: var(--menu-color);
  transition-duration: 0.5s;
}

.menu__button {
  color: var(--menu-text-color);
  font-family: Arial;
  font-size: 22px;
  font-style: normal;
  font-weight: 700;
  line-height: 30px;
  text-transform: uppercase;
  border-radius: 10px;
  border: 3px solid var(--hover-button);
  width: 280px;
  height: 55px;
  background-color: var(--backgr-color-button);
}

.menu__button:hover {
  border-radius: 10px;
  border: 3px solid var(--hover-button);
  background: var(--hover-button);
  transition-duration: 0.5s;
}

.menu__button:active {
  border-radius: 10px;
  border: 1px solid var(--border-button-active);
  background: var(--backgr-button-active);
}

.menu__button:focus {
  border-radius: 10px;
  background: var(--button-focus);
}
