
.visitor-reviews {
  margin: 0 auto;
}

.reviews__image-container {
  position: relative;
  display: inline-block;
}

.reviews__image-container::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: radial-gradient(50% 50% at 50% 50%, rgba(196, 196, 196, 0.00) 0%, rgba(108, 2, 135, 0.50) 100%);
  z-index: 1;
  border-radius: 140px;
}

.reviews__image-container img {
  z-index: 2;
}

.reviews__grigorieva-img {
  width: 280px;
  height: 280px;
  border-radius: 140px;
  background: radial-gradient(50% 50% at 50% 50%, rgba(196, 196, 196, 0.00) 0%, rgba(108, 2, 135, 0.50) 100%), url("../img/grigorieva.jpg");
  filter: opacity(80%);
}

.reviews__yashenko-img {
  width: 280px;
  height: 280px;
  border-radius: 140px;
  background: radial-gradient(50% 50% at 50% 50%, rgba(196, 196, 196, 0.00) 0%, rgba(108, 2, 135, 0.50) 100%), url("../img/yashenko.jpg");
  filter: opacity(80%);
}

.reviews__text {
  display: inline-block;
  width: 674px;
  color: #FFF;
  font-size: 20px;
  font-weight: 400;
  line-height: 28px;
  padding-top: 52px;
  margin-bottom: 0;
}

.reviews__title {
  text-align: center;
  font-size: 40px;
  font-weight: 700;
  line-height: 50px;
  text-transform: uppercase;
  letter-spacing: 3px;
  margin-bottom: 40px;
}

.reviews__signature {
  text-align: center;
  font-size: 20px;
  font-weight: 400;
  line-height: 28px;
}

.reviews__figure {
  display: inline-block;
  vertical-align: middle;
  margin-right: 20px;
}

.reviews__item {
  margin-bottom: 50px;
  max-width: 1440px;
}

.reviews__list {
  max-width: 980px;
  margin: 0 auto;
}

.reviews__list :last-child {
  margin-bottom: 0px;
}