.about__tagline {
  text-align: left;
  font-family: Arial;
  font-size: 44px;
  font-weight: 400;
  line-height: 50px;
  text-transform: uppercase;
  margin-bottom: 85px;
}

.about__tagline:after {
  content: '"';
  color:var(--slogan-color);
  font-weight: 900;
  line-height: 50px;
  text-transform: uppercase;
}

.about__tagline:before {
  content: '"';
  color:var(--slogan-color);
  font-weight: 900;
  line-height: 50px;
  text-transform: uppercase;
}